bin
var

etc/mail/fetchmail/fetchmailrc
etc/mail/mutt/boxes.mutt
etc/mail/procmail/procmailrc

etc/media/ncmpcpp/error.log
etc/media/scmpc/scmpc.conf
etc/media/mpdscribble/mpdscribble.conf

etc/net/snownews

etc/net/lftp/cwd_history
etc/net/lftp/rl_history

etc/net/ssh/*
!config

etc/shell/cw

etc/soft/antiword
etc/soft/figlet
etc/soft/jodconverter
etc/soft/mc/history
etc/soft/mc/hotlist
etc/soft/mc/panels.ini
etc/soft/mc_new/history
etc/soft/mc_new/hotlist
etc/soft/mc_new/panels.ini
etc/soft/vim/vim/session
etc/soft/vifm/bookmarks.list
etc/soft/vifm/vifminfo
etc/soft/vimperator/info
etc/soft/zathura

etc/wm/gtk/gtk-bookmarks

vimwiki/html
vimwiki/wiki

