# +SAMPLE

[mpdscribble]
host = localhost
port = 6600
log = .shellrc/var/log/mpdscribble.log
verbose = 2
sleep = 1
musicdir = /mnt/2TB/Музыка/

[last.fm]
# last.fm section, comment if you do not use last.fm
url = http://post.audioscrobbler.com/
username = user
password = password
journal = .shellrc/var/log/lastfm.log

