# PROCMAILRC
#-------------------------------------------------------------------------------
#
# Изменён: Сб 22 мар 2014 12:06:08
#
#-------------------------------------------------------------------------------
# +SAMPLE
#-------------------------------------------------------------------------------
#{{{ Общие настройки
#-------------------------------------------------------------------------------

MAILDIR=     $HOME/.shellrc/var/mail
LOGFILE=     $HOME/.shellrc/var/log/procmail
LOGABSTRACT= no
VERBOSE=     off
DEFAULT=     $MAILDIR/inbox
VERBOSE=     no
SHELL=       /bin/bash

#}}}----------------------------------------------------------------------------
#{{{ Сортировка писем
#-------------------------------------------------------------------------------

:0
	* ^From:.*address.*
	$MAILDIR/mailbox

#}}}----------------------------------------------------------------------------
#{{{ Письма, не попавшие ни в одну категорию, складываются в общие ящики
#-------------------------------------------------------------------------------

:0
	* ^To: user@mail
	$MAILDIR/user@mail

#}}}----------------------------------------------------------------------------
#{{{ Автоответ
#-------------------------------------------------------------------------------

# Запрос IP-адреса. Результат отправляется на мобильный номер
:0 fw
	* ^Subject: getip$
	{
		LOG="[ `\date '+%d.%m.%Y %H:%M:%S'` ] >> IP REQUEST "

		:0
		| $HOME/.shellrc/bin/scripts/ip2sms
	}

