# fetchmail
#
# Изменён: Сб 22 мар 2014 12:04:52
# 
# +SAMPLE
#

#-------------------------------------------------------------------------------
#{{{ Общие настройки
#-------------------------------------------------------------------------------

#POP3, аутентификация по паролям
defaults: proto POP3, auth password, 

#Приемщик почты
mda "procmail -d %T",

#Принимать все сообщения с сервера
fetchall,

#Через каждые 100 сообщений заново соединяться с сервером
expunge 100

#}}}----------------------------------------------------------------------------
#{{{ Почтовые ящики
#-------------------------------------------------------------------------------

poll pop.mail		user 'user'	pass 'password' is 'user' here

#}}}----------------------------------------------------------------------------
